.header {
    background-color: #06334D;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    display: flex; 
    input {
        width: 20%;
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        justify-content: center;
        font-size: 0.6rem;
        margin: 0.5rem;
        margin-left: 21%;
        background-color: #124766;
        border-color: #245E80;
    }
}